/*------------------------------------- ROOT -------------------------------------*/
:root {
  --headerTxt: #f3f5f8;
  --headerBck: #07090a;
  --recNewsTxtColor: #dfc9df;
  --recNewsBckColor: #1d1a30;
  --recNewsbordrColor: #fdc9fd;
  --navCol: #c4aacf;
  --navBckCol: #1d1023;
  --navColHov: #f5dbff;
  --navBackColHov: #3e1a4d;
  --btnCol: #ffd8cf;
  --btnBckCol: #16110f;
  --smoothScrolling: smooth;
}

/*Style Body and HTML*/
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #1c1c1c;
  scroll-behavior: var(--smoothScrolling);
  transition-duration: 0.5s;
  font-family: 'Merienda', cursive;
  overflow-x: clip;
}

/*------------------------------------- Header -------------------------------------*/

/*Style header*/
.header {
  font-size: 3vh;
  color: var(--headerTxt);
  background-color: var(--headerBck);
  text-align: center;
  padding: 3vh 4vw;
  border-bottom: 1.5vh solid black;
  transition-duration: 0.5s;
}
.header h1 {
  font-size: 2em;
}

/*------------------------------------- Image / Logo -------------------------------------*/

/*Style logo img*/
.logo {
  max-width: 50%;
  max-height: 50%;
  transition-duration: 0.5s;
}
.imgScrollDiv {
  background-image: url(/IMAGES/logo.png);
  background-position:top center;
  background-attachment:scroll;
  background-repeat: no-repeat;
  background-size: 90%;
  color: transparent;
  text-align: center;
  max-height: 50%;
  height: calc(25vw + 20vh);
  width: 100%;
}

/*------------------------------------- Center Elements -------------------------------------*/

.Center {
  text-align: center;
}

/*------------------------------------- News Div Element -------------------------------------*/

.mstRecNews {
  color: var(--recNewsTxtColor);
  background-color: var(--recNewsBckColor);
  border: 5px solid var(--recNewsbordrColor);
  border-radius: 10px;
  text-align: center;
  padding: 1vh 1vw;
  margin: 2%;
  transition-duration: 0.5s;
}
.mstRecNews a {
  text-decoration: none;
  color: #11a5e4;
}
.mstRecNews a:hover {
  text-decoration: none;
  color: #00b3ff;
}

/*------------------------------------- Top Navagation Bar -------------------------------------*/

/* The navbar container */
.topnav {
  overflow: hidden;
  background-color: var(--navBckCol);
}
/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: var(--navCol);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Links - change color on hover */
.topnav a:hover {
  background-color: var(--navBackColHov);
  color: var(--navColHov);
}

/*------------------------------------- List Style -------------------------------------*/

ul {
  list-style: none;
}

/*------------------------------------- Settings -------------------------------------*/
.Settings {
  color: #c9c9c9;
}
.Settings button {
  color: var(--btnCol);
  background-color: var(--btnBckCol);
  border-radius: 8px;
  border: none;
  padding: 14px 16px;
  transition-duration: 0.5s;
}
.Settings button:hover {
  cursor: pointer;
  color: var(--recNewsbordrColor);
  background-color: var(--navBackColHov);
}

/*------------------------------------- Button Group -------------------------------------*/

.btn-group {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  font-size: 2vh;
  z-index: 999;
}
.btn-group button {
  background-color: var(--navBckCol);
  border: none;
  font-size: 2em;
  color: var(--navCol);
  padding: 2.5vh 0;
  cursor: pointer;
  float: left;
  transition-duration: 0.5s;
  border-radius: 10px;
}
.btn-group button:not(:last-child) {
  border-right: none;
  /* Prevent double borders */
}
/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}
/* Add a background color on hover */
.btn-group button:hover {
  background-color: var(--navBackColHov);
  color: var(--navColHov);
  border-radius: 25px;
}

/*------------------------------------- News (On Home Page) -------------------------------------*/

.homeNewsTxt {
  color: var(--headerTxt);
  text-align: center;
}

/*------------------------------------- Footer -------------------------------------*/

.footer {
  font-size: 3vh;
  color: var(--headerTxt);
  background-color: var(--headerBck);
  text-align: center;
  padding: 3vh 4vw;
  border-bottom: 1.5vh solid black;
  transition-duration: 0.5s;
}
.footer h3,
h5 {
  font-size: 2em;
}

/*------------------------------------- Music -------------------------------------*/

.music {
  text-align: center;
  color: white;
}

/*------------------------------------- No Select Text -------------------------------------*/

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*------------------------------------- Song Cover Image -------------------------------------*/

.coverIMG {
  width: 40vw;
  height: auto;
  max-width: 512px;
  max-height: 512px;
  transition-duration: 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*------------------------------------- Music Playback Buttons -------------------------------------*/

.musicButtons {
  color: black;
}
.musicButtons button {
  color: var(--btnCol);
  background-color: var(--btnBckCol);
  border-radius: 8px;
  border: none;
  padding: 14px 16px;
  font-size: 4vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
}
.musicButtons button::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  /*Remember to add position: relative; to parent!*/
  top: 0;
  left: 0;
  border-radius: 8px;
  backdrop-filter: invert(100%);
  transform: scale(0);
  transition: 0.25s ease-in-out;
}
.musicButtons button i {
  transition: 0.25s ease-in-out;
}
.musicButtons button:hover i {
  transform: scale(1.15) rotate(-5deg);
}
.musicButtons button:hover::after {
  transform: scale(1);
}
.musicButtons button:active::after {
  position: absolute; /*Remember to add position: relative; to parent!*/
  top: 0;
  left: 0;
  content: "";
  backdrop-filter: invert(100%);
  transition: 0.0s ease-in-out;
  transform: scale(0);
}
.musicButtons button:hover {
  cursor: pointer;
}

/*------------------------------------- Song List Buttons -------------------------------------*/

.songList {
  font-family: Tahoma, sans-serif;
  text-align: center;
  background-color: var(--recNewsBckColor);
  border: 5px solid var(--recNewsbordrColor);
  border-radius: 10px;
  padding: 1vh 1vw;
  margin: 2%;
  transition-duration: 0.5s;
  max-height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.songList::-webkit-scrollbar {
  width: 4vw;
}
.songList::-webkit-scrollbar-track {
  border-radius: 5vw;
}
.songList::-webkit-scrollbar-thumb {
  background: var(--navCol);
  border-radius: 10vw;
  transition-duration: 0.3s;
}
.songList::-webkit-scrollbar-thumb:hover {
  background: var(--navColHov);
  cursor: pointer;
}
.songList a {
  color: var(--recNewsTxtColor);
  background-color: var(--recNewsBckColor);
  padding: 14px 16px;
  text-decoration: none;
  transition-duration: 0.5s;
}
.songList a:hover {
  color: var(--headerTxt);
  cursor: pointer;
  background-color: var(--navBackColHov);
  border-radius: 25px;
}

/*------------------------------------- Hide Content -------------------------------------*/

.hideContent {
  display: none;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/*------------------------------------- ~~ -------------------------------------*/

.item {
  background: rgba(255, 255, 255, 0.1);
  display: grid;
  place-items: center;
  border-radius: 4px;
  transition: opacity 0.4s ease;
}

/*------------------------------------- Loader -------------------------------------*/

.loader {
  --color: var(--btnCol);
  --size-mid: 6vmin;
  --size-dot: 1.5vmin;
  --size-bar: 0.4vmin;
  --size-square: 3vmin;
  position: relative;
  width: 50%;
  display: grid;
  place-items: center;
}
.loader::before,
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
}
.loader.--4::before {
  height: var(--size-bar);
  width: 6vmin;
  background-color: var(--color);
  animation: loader-4 0.8s ease-in-out infinite;
}
@keyframes loader-4 {
  0%,
  44%,
  88.1%,
  100% {
    transform-origin: left;
  }
  0%,
  100%,
  88% {
    transform: scaleX(0);
  }
  44.1%,
  88% {
    transform-origin: right;
  }
  33%,
  44% {
    transform: scaleX(1);
  }
}
.loadHint {
  color: var(--recNewsbordrColor);
  font-size: 3vh;
  text-align: center;
  padding: 3vh 4vw;
}

/*------------------------------------- Socials Buttons Style -------------------------------------*/

.socials {
  font-size: 2vh;
}
.socials button {
  background-color: var(--navBckCol);
  border: none;
  font-size: 2em;
  color: var(--navCol);
  padding: 2.5vh 0;
  cursor: pointer;
  float: left;
  transition-duration: 0.5s;
  border-radius: 10px;
}
.socials button:not(:last-child) {
  border-right: none;
  /* Prevent double borders */
}
/* Clear floats (clearfix hack) */
.socials:after {
  content: "";
  clear: both;
  display: table;
}
/* Add a background color on hover */
.socials button:hover {
  background-color: var(--navBackColHov);
  color: var(--navColHov);
  border-radius: 25px;
}
.socials button::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  /*Remember to add position: relative; to parent!*/
  top: 0;
  left: 0;
  border-radius: 8px;
  backdrop-filter: invert(100%);
  transform: scale(0);
  transition: 0.25s ease-in-out;
}
.socials button i {
  transition: 0.25s ease-in-out;
}
.socials button:hover i {
  transform: scale(1.15) rotate(-5deg);
}
.socials button:hover::after {
  transform: scale(1);
}

/*------------------------------------- Style Inputs (future login inputs?) -------------------------------------*/

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
}

/*------------------------------------- Style Modal -------------------------------------*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
.modal-body {padding: 2px 16px;}
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/*------------------------------------- CUSTOM ANIMATE ON SCROLL -------------------------------------*/

@-webkit-keyframes animateOnContentLoaded {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes animateOnContentLoaded {
  from {opacity: 0;}
  to {opacity: 1;}
}

/*------------------------------------- TOGGLE SWITCH STYLING -------------------------------------*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #787878;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #d1d1d1;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #651d8c;
}
input:focus + .slider {
  box-shadow: 0 0 1px #651d8c;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

/*------------------------------------- YT SUB COUNT -------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

.yt {
  margin-left: 25%;
  margin-right: 25%;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  align-items: center;
  width: 50%;
  text-align: center;
}

.youtube-button {
  padding: 1.5vw;
  color: #fff;
  background-color: #cc181e;
  display: flex;
  align-items: center;
  border-radius: 3vw;
  text-align: center;
}
.youtube-button i {
  font-size: calc(1.5vw + 1.5vh);
  margin-right: 12px;
  margin-left: 2vw;
}
.youtube-button p {
  font-size: calc(2vw + 2vh);
}
.youtube-button span {
  margin-right: 4px;
}