:root {
  --headerTxt: #07090a;
  --headerBck: #dae5e7;
  --recNewsTxtColor: #1d1a30;
  --recNewsBckColor: #dfc9df;
  --recNewsbordrColor: #140f14;
  --navCol: #1d1023;
  --navBckCol: #a791b1;
  --navColHov: #b99bc0;
  --navBackColHov: #443e47;
  --btnCol: #372a27;
  --btnBckCol: #ffc4b7;
  --smoothScrolling: smooth;
}

/*Style Body and HTML*/
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #ededed;
  scroll-behavior: var(--smoothScrolling);
  transition-duration: 0.5s;
}

/*Style header*/
.header {
  color: var(--headerTxt);
  background-color: var(--headerBck);
  text-align: center;
  font-size: 3vh;
  padding: 3vh 4vw;
  border-bottom: 1.5vh solid black;
  transition-duration: 0.5s;
}

.header h1 {
  font-size: 2em;
}

/*Style logo img*/
.logo {
  max-width: 50%;
  max-height: 50%;
  transition-duration: 0.5s;
}

.Center {
  text-align: center;
}

.mstRecNews {
  color: var(--recNewsTxtColor);
  background-color: var(--recNewsBckColor);
  border: 5px solid var(--recNewsbordrColor);
  border-radius: 10px;
  text-align: center;
  padding: 1vh 1vw;
  margin: 2%;
  transition-duration: 0.5s;
}

.mstRecNews a {
  text-decoration: none;
  color: #000295;
}

.mstRecNews a:hover {
  text-decoration: none;
  color: #0003b8;
}

/* The navbar container */
.topnav {
  overflow: hidden;
  background-color: var(--navBckCol);
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: var(--navCol);
  text-align: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: var(--navBackColHov);
  color: var(--navColHov);
}

.Settings {
  color: black;
}

ul {
  list-style: none;
}

.Settings button {
  color: var(--btnCol);
  background-color: var(--btnBckCol);
  border-radius: 8px;
  border: none;
  padding: 14px 16px;
}

.Settings button:hover {
  cursor: pointer;
}

.btn-group {
  font-size: 2vh;
}

.btn-group button {
  background-color: var(--navBckCol);
  border: none;
  color: var(--navCol);
  padding: 2.5vh 0;
  font-size: 2em;
  cursor: pointer;
  float: left;
  transition-duration: 0.5s;
  border-radius: 10px;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: var(--navBackColHov);
  color: var(--navColHov);
  font-size: 2.05em;
  border-radius: 25px;
}

.homeNewsTxt {
  color: var(--headerTxt);
  text-align: center;
}

.music {
  text-align: center;
  color: black;
}

.footer {
  color: var(--headerTxt);
  background-color: var(--headerBck);
  text-align: center;
  font-size: 3vh;
  padding: 3vh 4vw;
  border-bottom: 1.5vh solid black;
  transition-duration: 0.5s;
}

.footer h3, h5 {
  font-size: 2em;
}

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.coverIMG {
  width: 40vw;
  height: auto;
  max-width: 512px;
  max-height: 512px;
  transition-duration: 0.5s;
  margin-left: 3%;
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.musicButtons {
  color: black;
}

.musicButtons button {
  color: var(--btnCol);
  background-color: var(--btnBckCol);
  border-radius: 8px;
  border: none;
  padding: 14px 16px;
  font-size: 4vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.musicButtons button:hover {
  cursor: pointer;
}

.songList {
  text-align: center;
  background-color: var(--recNewsBckColor);
  border: 5px solid var(--recNewsbordrColor);
  border-radius: 10px;
  padding: 1vh 1vw;
  margin: 2%;
  transition-duration: 0.5s;
}

.songList a {
  color: var(--recNewsTxtColor);
  background-color: var(--recNewsBckColor);
  padding: 14px 16px;
  text-decoration: none;
  transition-duration: 0.5s;
}

.songList a:hover {
  color: var(--headerTxt);
  cursor: pointer;
  background-color: var(--navBackColHov);
  border-radius: 25px;
}

.hideContent {
  display: none;
}

/*#loader {
  position: relative;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px transparent;
  border-radius: 50%;
  border-top: 16px solid var(--recNewsTxtColor);
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
*/

.item	{
	background: rgba(255, 255, 255, 0.1);
	display: grid;
	place-items: center;
	border-radius: 4px;
	transition: opacity 0.4s ease;
}

.loader {
	--color: var(--btnCol);
	--size-mid: 6vmin;
	--size-dot: 1.5vmin;
	--size-bar: 0.4vmin;
	--size-square: 3vmin;
	
	display: block;
	position: relative;
	width: 50%;
	display: grid;
	place-items: center;
}

.loader::before,
.loader::after {
	content: '';
	box-sizing: border-box;
	position: absolute;
}

.loader.--4::before {
  height: var(--size-bar);
  width: 6vmin;
  background-color: var(--color);
  animation: loader-4 0.8s cubic-bezier(0, 0, 0.03, 0.9) infinite;
}


@keyframes loader-4 {
  0%, 44%, 88.1%, 100% {
    transform-origin: left;
  }
  
  0%, 100%, 88% {
    transform: scaleX(0);
  }
  
  44.1%, 88% {
    transform-origin: right;
  }
  
  33%, 44% {
    transform: scaleX(1);
  }
}

.loadHint {
  color: var(--recNewsbordrColor);
  font-size: 3vh;
  text-align: center;
  padding: 3vh 4vw;
}