@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');

:root {
  --screen-x: 0;
  --screen-y: 0;
  --trans-dur: 0;
  --animated-btn-border-radius: 5px;
  --border-color: #757575;
  --accent-color: #106dca;
  --primary-text-color: #fdfdfd;
  --accent-color-hover: #0f59a3;
  --nav-sections-border-color: #636363;
  --scrollbar-thumb-color: #aeb7d5;
  --scrollbar-thumb-color-hover: #ccced7;
  --scrollbar-thumb-color-active: #abafbf;
  --scrollbar-track-color: #1f216b;
  --scrollbar-track-color-hover: #3337a3;
  --scrollbar-track-color-active: #303397;
}
html {
  height: 100%;
  min-height: 100vh;
  width: 100%;
}
body {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  overflow-x: clip;
  overflow-y: auto;
  background-color: #121212;
  color: whitesmoke;
  user-select: none;
  -moz-user-select: -moz-none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  font-family: Verdana, sans-serif;
}
footer {
  font-family: Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10vh;
  width: 100%;
  background-color: #424242;
  color: whitesmoke;
}



.nav-img {
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  background-image: url(/images/logo.svg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
  height: 75%;
  margin-left: 5%;
  background-color: transparent;
}
.nav-img:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.nav-links {
  width: 75%;
  height: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}
.nav-link {
  text-decoration: none;
  color: #f2f2f2;
  background-color: transparent;
  border-radius: 6px;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  height: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.nav-link:hover {
  color: #fff;
  background-color: rgba(25,25,25,0.5);
}
.nav-container {
  user-select: none;
  -moz-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  overflow: hidden;
  background-color: rgba(75,75,75,0.8);
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  transition: height 0.3s ease-in-out;
}
.nav-container input[type=text] {
  font-size: 17px;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid whitesmoke;
  cursor: pointer;
  width: 25%;
  background-color: transparent;
  color: white;
  padding: 3%;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
.nav-container input[type=text]:hover {
  cursor: pointer;
}
.nav-container input[type=text]:focus {
  width: calc(80% - 15px);
  outline: none;
}



.music-item-container {
  color: whitesmoke;
  margin-top: 10px;
  width: 90%;
  height: calc(20vw + 25px);
  overflow-x: auto;
  white-space: nowrap;
  margin-left: 5%;
  margin-right: 5%;
}
.music-item {
  color: whitesmoke;
  transition: all 0.2s ease-in-out;
  background-size: 200% 100%;
  width: 20vw;
  height: 20vw;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: clip;
  background: rgb(210,210,210);
  background: linear-gradient(135deg, rgb(255,255,255) 0%, rgb(110, 110, 110) 50%, rgb(200, 200, 200) 100%);
  animation: pulse 1s linear infinite;
}
.music-item.disabled {
  cursor: not-allowed;
  position: relative;
  filter: brightness(0.5);
  -webkit-filter: brightness(0.5);
}
.music-item.disabled img {
  filter: grayscale(100%) brightness(0.5);
  -webkit-filter: grayscale(100%) brightness(0.5);
}


.disabled::before {
  content: '';
  position: absolute;
  width: 19vw;
  height: 19vw;
  color: transparent;
  background-color: transparent;
  text-align: center;
  z-index: 1;
  border: 5px solid red;
}
.disabled::after {
  content: 'Coming Soon...';
  position: absolute;
  width: 150%;
  height: 5px;
  font-size: calc(1vw + 1vh);
  color: red;
  background-color: red;
  transform: rotate(45deg);
  text-align: center;
}



@keyframes pulse {
  0% {
    filter: brightness(1);
    -webkit-filter: brightness(1);
  }
  50% {
    filter: brightness(3);
    -webkit-filter: brightness(3);
  }
  100% {
    filter: brightness(1);
    -webkit-filter: brightness(1);
  }
}
.music-item:active {
  transform: scale(0.95);
}
.music-item img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: center;
}
.music-item > img {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}
.music-item.loaded {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  animation: none;
  filter: none;
  -webkit-filter: none;
  margin-top: auto;
  margin-bottom: auto;
  vertical-align: center;
}
.music-item.loaded > img {
  opacity: 1;
  position: relative;
  transition: all 0.4s ease-in-out;
}
.music-item.loaded:not(.disabled) img:hover {
  cursor: pointer;
}
.music-item.loaded:hover:not(.disabled) {
  box-shadow: 0 0 calc(2.5vw + 2.5vh) 5px rgba(0, 0, 0, 0.9) inset;
}
.music-item.loaded:hover:not(.disabled) > img {
  filter: hue-rotate(25deg) brightness(1.2) opacity(0.5);
}



.item-name {
  margin-top: 30px;
  margin-left: 5%;
  color: whitesmoke;
  font-size: calc(2vw + 2vh);
}



.overlay {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  transition: all var(--trans-dur) ease-in-out;
  overflow-y: auto;
  overflow-x: clip;
  background-color: rgb(15, 15, 15);
}
.overlay-content {
  position: relative;
  width: 100%;
  top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  overflow-x: clip;
  margin-left: 5%;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
.overlay a {
  --scaleX: 1;
  --rotate: 0deg;
  color: #b5b3e6;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.overlay a:hover {
  --scaleX: 1;
  --rotate: -4deg;
  filter: brightness(150%);
  -webkit-filter: brightness(150%);
}
.overlay .overlay-close-btn {
  position: absolute;
  top: -7vh;
  right: 10vw;
  font-size: calc(3.2vw + 5.2vh);
}



#musicPage {
  font-family: 'Rubik Doodle Shadow', system-ui;
}



@media only screen and (orientation: portrait) {
  .music-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .music-cover {
    background-color: transparent;
    color: white;
    background-image: url('/images/Placeholder.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
    width: 50%;
    height: 45vh;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .progress-container {
    background: #fff;
    border-radius: 5px;
    /* cursor: pointer; */
    margin: 10px 0;
    height: 4px;
    width: 100%;
  }
  .progress {
    background-color: #ffa8ec;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
  }
  .share-btn {
    font-size: calc(1vw + 1vh);
    background-color: #262626;
    border-radius: var(--animated-btn-border-radius);
    height: 5%;
    width: 5%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    margin-left: 5%;
    padding: 5%;
  }
  .info-and-options {
    height: 25vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .controls-container {
    height: 25vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 25%;
  }
  .song-info {
    color: antiquewhite;
    height: 100%;
    width: 75%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .options-container {
    color: antiquewhite;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .options-btn {
    background-color: #262626;
    color: antiquewhite;
    border-radius: var(--animated-btn-border-radius);
    margin: 5%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: calc(1.5vw + 1.5vh);
    transition: all 0.35s ease-in-out;
    position: relative;
  }
  .options-btn::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--animated-btn-border-radius);
    backdrop-filter: invert(100%);
    transform: scale(0);
    transition: 0.3s ease-in-out;
  }
  .options-btn:hover::after {
    transform: scale(1);
  }
  .options-btn:hover {
    cursor: pointer;
    color: white;
    background-color: #2b2b2b;
  }
  /* Dropup Button */
  .dropbtn {
    background-color: #262626;
    color: antiquewhite;
    border-radius: var(--animated-btn-border-radius);
    margin: 5%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.35s ease-in-out;
  }
  .dropbtn::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--animated-btn-border-radius);
    backdrop-filter: invert(100%);
    transform: scale(0);
    transition: 0.3s ease-in-out;
  }
  .dropbtn:hover::after {
    transform: scale(1);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  /* The container <div> - needed to position the dropup content */
  .dropup {
    position: relative;
    display: inline-block;
  }
  /* Dropup content (Hidden by Default) */
  .dropup-content {
    font-family: 'Times New Roman', serif;
    display: none;
    position: absolute;
    bottom: 100%;
    right: -75%;
    background-color: #f1f1f1;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: var(--animated-btn-border-radius);
  }
  /* Links inside the dropup */
  .dropup-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropup-content:hover {
    cursor: pointer;
  }
  .dropup-content div:nth-child(1) {
    border-top-left-radius: var(--animated-btn-border-radius);
    border-top-right-radius: var(--animated-btn-border-radius);
  }
  .dropup-content div:nth-child(3) {
    border-bottom-left-radius: var(--animated-btn-border-radius);
    border-bottom-right-radius: var(--animated-btn-border-radius);
  }
  /* Change color of dropup links on hover */
  .dropup-content div:hover {
    background-color: #ddd;
  }
  /* Change the background color of the dropup button when the dropup content is shown */
  .dropup:hover .dropbtn::after {
    transform: scale(1);
  }
  .music-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow-y: clip;
    height: 50%;
    transition-duration: 0.7s;
    transition-timing-function: cubic-bezier(.48,.09,.41,.99);
  }
  .music-controls div {
    background-color: white;
    border: 0;
    border-radius: var(--animated-btn-border-radius);
    color: black;
    font-size: calc(1.5vw + 1.5vh);
    cursor: pointer;
    padding: 15px;
    margin: 0 5vw;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .music-controls div .turn {
    transition-duration: 0.5s;
  }
  .music-controls div:hover .turn {
    transform: scale(0.85) rotate(-10deg);
  }
  .music-controls div::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--animated-btn-border-radius);
    backdrop-filter: invert(100%);
    transform: scale(0);
    transition: 0.3s ease-in-out;
  }
  .music-controls div:hover::after {
    transform: scale(1);
  }
}
@media only screen and (orientation: landscape) {
  .music-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .music-cover {
    background-color: transparent;
    color: white;
    background-image: url('/images/Placeholder.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .progress-container {
    background: #fff;
    border-radius: 5px;
    margin: 10px 0;
    height: 4px;
    width: 100%;
  }
  .progress {
    background-color: #ffa8ec;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
  }
  .controls-container {
    height: 50vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .share-btn {
    font-size: calc(1vw + 1vh);
    background-color: #262626;
    border-radius: var(--animated-btn-border-radius);
    height: 5%;
    width: 5%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    margin-left: 5%;
    padding: 5%;
  }
  .info-and-options {
    height: 50vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .song-info {
    color: antiquewhite;
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .options-container {
    color: antiquewhite;
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .options-btn {
    background-color: #262626;
    color: antiquewhite;
    border-radius: var(--animated-btn-border-radius);
    margin: 5%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: calc(1.5vw + 1.5vh);
    transition: all 0.35s ease-in-out;
    position: relative;
  }
  .options-btn::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--animated-btn-border-radius);
    backdrop-filter: invert(100%);
    transform: scale(0);
    transition: 0.3s ease-in-out;
  }
  .options-btn:hover::after {
    transform: scale(1);
  }
  .options-btn:hover {
    cursor: pointer;
    color: white;
    background-color: #2b2b2b;
  }
  /* Dropup Button */
  .dropbtn {
    background-color: #262626;
    color: antiquewhite;
    border-radius: var(--animated-btn-border-radius);
    margin: 5%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: calc(1.5vw + 1.5vh);
    transition: all 0.35s ease-in-out;
  }
  .dropbtn::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--animated-btn-border-radius);
    backdrop-filter: invert(100%);
    transform: scale(0);
    transition: 0.3s ease-in-out;
  }
  .dropbtn:hover::after {
    transform: scale(1);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  /* The container <div> - needed to position the dropup content */
  .dropup {
    position: relative;
    display: inline-block;
  }
  /* Dropup content (Hidden by Default) */
  .dropup-content {
    font-family: 'Times New Roman', serif;
    display: none;
    position: absolute;
    bottom: 100%;
    right: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: var(--animated-btn-border-radius);
    border-bottom-right-radius: 0;
  }
  /* Links inside the dropup */
  .dropup-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropup-content:hover {
    cursor: pointer;
  }
  .dropup-content div:nth-child(1) {

    border-top-left-radius: var(--animated-btn-border-radius);;
    border-top-right-radius: var(--animated-btn-border-radius);;
  }
  .dropup-content div:nth-child(3) {
    border-bottom-left-radius: var(--animated-btn-border-radius);;
  }
  /* Change color of dropup links on hover */
  .dropup-content div:hover {
    background-color: #ddd;
  }
  /* Change the background color of the dropup button when the dropup content is shown */
  .dropup:hover .dropbtn::after {
    transform: scale(1);
  }
  .music-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow-y: clip;
    height: 25%;
    width: 25%;
    transition-duration: 0.7s;
    transition-timing-function: cubic-bezier(.48,.09,.41,.99);
  }
  .music-controls div {
    background-color: white;
    border: 0;
    border-radius: var(--animated-btn-border-radius);
    color: black;
    font-size: calc(1.5vw + 1.5vh);
    cursor: pointer;
    padding: 5%;
    margin: 0 5%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .music-controls div .turn {
    transition-duration: 0.5s;
  }
  .music-controls div:hover .turn {
    transform: scale(0.85) rotate(-10deg);
  }
  .music-controls div::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--animated-btn-border-radius);
    backdrop-filter: invert(100%);
    transform: scale(0);
    transition: 0.3s ease-in-out;
  }
  .music-controls div:hover::after {
    transform: scale(1);
  }
}



.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.user-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow-y: clip;
  height: 25%;
  width: 100%;
  transition: all 0.4s ease-in-out;
}
.user-container img {
  width: auto;
  height: 80%;
  border-radius: 50%;
  margin-right: 5%;
}
.fav-songs-container {
  text-align: center;
  overflow-y: clip;
  height: 50%;
  width: 100%;
  transition: all 0.4s ease-in-out;
  background-color: black;
}
.fav-songs-items {
  background-color: #333;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-row-gap: 5%;
  grid-template-rows: unset;
  overflow: auto;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding-left: auto;
  padding-right: auto;
}
.fav-songs-items .music-item {
  margin: 0;
}
.settings-container {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.album-view-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.album-cover {
  background-color: transparent;
  color: white;
  background-image: url('/images/Placeholder.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.album-title-container {
  height: 25vh;
  width: 75%;
  font-size: calc(2.5vw + 2.5vh);
  text-align: center;
  color: whitesmoke;
}
.album-description-container {
  height: 25vh;
  width: 75%;
  font-size: calc(1vw + 1vh);
  text-align: center;
  color: whitesmoke;
}



.legal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.legal-container h1 {
  text-align: center;
  font-size: calc(2.5vw + 2.5vh);
}
.legal-container h2 {
  text-align: center;
  font-size: calc(2vw + 2vh);
}
.legal-container p {
  text-align: center;
  font-size: calc(0.96vw + 0.87vh);
}
.legal-container li {
  text-align: left;
  font-size: calc(0.96vw + 0.87vh);
  margin-top: 5px;
  margin-bottom: 5px;
}



input[type=checkbox]{
  height: 0;
  width: 0;
  transition: all 0.4s ease-in-out;
  visibility: hidden;
}
label {
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  text-indent: -9999px;
  width: 25%;
  height: 12vw;
  background: #d27070;
  display: block;
  border-radius: 0px;
  position: relative;
}
label:before {
  content: '';
  position: absolute;
  top: 10%;
  left: calc(100% - 1vw);
  transform: translateX(-100%);
  width: 30%;
  height: 80%;
  background: rgba(25,25,25,0.2);
  border-radius: 0px;
  transition: 0.3s;
}
label:after {
  content: '';
  position: absolute;
  top: 10%;
  left: 1vw;
  width: 30%;
  height: 80%;
  background: #fff;
  border-radius: 0px;
  transition: 0.3s;
}
input:checked + label {
  background: #2cb1dd;
}
input:checked + label:after {
  left: calc(100% - 1vw);
  transform: translateX(-100%);
}
input:checked + label:before {
  left: 1vw;
  transform: translateX(0%);
}
label:active:before {
  width: calc(50% - 1vw);
}
label:active:after {
  width: calc(50% - 1vw);
}



.saveBtn {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 7.5%;
  width: 40%;
  background-color: #575757;
  color: white;
  transition: all 0.3s ease-in-out;
  margin-bottom: 5%;
}
.saveBtn:hover {
  cursor: pointer;
  border-radius: 5px;
  background-color: #6e6e6e;
}



.news {
  border: calc(1.15vw + 1.15vh) solid var(--nav-sections-border-color);
  border-radius: 2vw;
  color: white;
  height: 80vh;
  width: 80%;
  margin: 10vh 10%;
  overflow-y: auto;
  overflow-x: clip;
  padding: 5%;
  font-size: calc(1.8vw + 1.2vh);
  text-align: center;
  transition: all 0.3s ease-in-out;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.news.loaded {
  display: block;
}
#newsFromXMLFile {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}



.img-container {
  width: 80%;
  height: 80vw;
  margin-left: auto;
  margin-right: auto;
  background: rgb(210,210,210);
  background: linear-gradient(135deg, rgb(255,255,255) 0%, rgb(110, 110, 110) 50%, rgb(200, 200, 200) 100%);
  animation: pulse 1s linear infinite;
}
.img-container img {
  width: 100%;
  height: auto;
}
.img-container > img {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}
.img-container.loaded {
  animation: none;
  filter: none;
  -webkit-filter: none;
  height: fit-content;
}
.img-container.loaded > img {
  opacity: 1;
  transition: all 0.4s ease-in-out;
}

.loader, .loader:before, .loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader {
  color: #FFF;
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@keyframes bblFadInOut {
  0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em }
  40% { box-shadow: 0 2.5em 0 0 }
}
