/* ===== DOM ===== */
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url('../custom-fonts/PlusJakartaSans-Regular.ttf');
}
:root {
  --display: block;
  --mobile-btn: none;
  --cover-card-max-size: 30vh;
  --noti-number: 0;
  --noti-border-radius: 5px;
  --music-player-loaded-width: 0%;
  --font-color: white;
  --background-color: #2e2e2e;
  --thumb-color: #c3cdfe;
  --temp-link-background: #333333;
  --card-background: linear-gradient(-45deg, #dec4f2 0%, #bee2f3 100%);
  --card-fallback-background: #bee2f3;
}
* {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-x: clip;
  font-family: "Plus Jakarta Sans", sans-serif;
  transition: all 0.4s ease;
}
html, body {
  color: white;
  background-color: var(--background-color);
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: clip;
  overflow-y: clip;
  transition: all 0.4s ease;
}
.temp-link {
  background-color: var(--temp-link-background);
  color: cadetblue;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  margin: 15px 0;
}
.temp-link:hover {
  color: skyblue;
  text-decoration: underline;
}

/* ===== Scrollbar ===== */
* {
  scrollbar-width: calc(1vw + 1vh);
  scrollbar-color: var(--thumb-color) var(--background-color);
}
*::-webkit-scrollbar {
  width: calc(1vw + 1vh);
}
*::-webkit-scrollbar-track {
  background: var(--background-color);
  border-radius: 8px;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--thumb-color);
  border-radius: 8px;
  border: 0px none var(--thumb-color);
}

/* ===== Page Containers ===== */
.header {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.home {
  margin: 0;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100vh;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  overflow-y: clip;
}
.news {
  margin: 0;
  margin-top: -10vh;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 0vh;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  overflow-y: clip;
}

/* ===== Containers ===== */
.home-container {
  color: var(--font-color);
  background-color: var(--background-color);
  width: 100%;
  height: 88vh;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}
.home-container h1 {
  margin-left: 5%;
}
.catagory-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 5vh;
  margin-bottom: 0.5vh;
}
.cover-container {
  transition: all 0.5s ease;
}
.cover-container:not(.seemore) {
  width: 100%;
  height: fit-content;
  max-height: var(--cover-card-max-size);
  margin: 0;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.cover-container.seemore {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(33.3vw - 20px), 1fr));
  grid-gap: 20px;
  width: 100%;
  height: fit-content;
  margin: 0;
  margin-bottom: 5vh;
}
.cover-container:not(.seemore) .card.extra-card {
  display: none;
}
.cover-container.seemore .card.extra-card {
  display: inline-flex;
}
.music-container {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  background-color: #000000;
  width: 100%;
  height: 12vh;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header-btn-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.news-container {
  color: var(--font-color);
  background-color: #2e2e2e;
  border: 2px solid #c3cdfe;
  width: 75%;
  height: 60%;
  margin: 0;
  padding: 5%;
  overflow-y: auto;
}
.profile-container {
  color: var(--font-color);
  background-color: var(--background-color);
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}
.input-container {
  width: 100%;
  height: fit-content;
  max-height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.user-icons-container {
  width: 100%;
  height: fit-content;
  padding: 5px;
}
.user-icons-container .user-icon {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(2vw + 2vh);
  height: calc(2vw + 2vh);
  background: #c2c2c2;
  border-radius: 50%;
  border: none;
}
.user-icon.selected {
  border: calc(0.2vw + 0.2vh) solid lime;
}
.user-icon svg {
  fill: black;
  width: calc(2vw + 2vh);
  height: calc(2vw + 2vh);
}
.profile-body-container {
  height: fit-content;
  min-height: 50vh;
  padding: 10px;
  width: 100%;
  background-color: var(--background-color);
  color: var(--font-color);
}
.eq-container {
  border: none;
  width: 100%;
  height: fit-content;
  min-height: 25vh;
  padding: 3%;
  display: none;
}
.eq-container-body {
  width: 100%;
  height: 25vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.settings-container {
  position: relative;
  border: none;
  border-top: 3px solid #474747;
  border-bottom: 3px solid #474747;
  padding: 10px 1vw;
  margin: 0;
  width: 100%;
  height: fit-content;
}
.settings-item-container {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
}
.settings-item-container h3 {
  margin-right: calc(0.25vh + 0.25vw);
}

/* ===== Button & Link Styling ===== */
.see-more-btn {
  width: fit-content;
  height: fit-content;
  padding: calc(0.25vw + 0.25vh);
  font-size: calc(0.75vw + 0.75vh);
  color: var(--font-color);
  right: calc(0.5vw + 0.5vh);
  margin: 0;
  margin-left: 0.5vw;
  text-decoration: none;
}
.see-more-btn:hover {
  text-decoration: underline;
}


/* ===== Music Player ===== */
.fade-player {
  filter: brightness(0.5);
  -webkit-filter: brightness(0.5);
}
.player-main {
  font-size: calc(1.5vw + 1.5vh);
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.player-main .progress-time {
  height: 35%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.progress-time .time {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
  overflow: clip;
  font-size: calc(0.75vw + 0.75vh);
  transform: scale(0.9);
}
.player-controls {
  height: 65%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.player-controls .btn {
  fill: #d9d9d9;
  color: #d9d9d9;
  width: calc(3vw + 3vh);
  max-width: 15%;
  height: auto;
  max-height: 50%;
}
.player-controls .btn.play-btn {
  transform: scale(1.5);
}
.player-controls .btn.end-btn {
  fill: #9e9e9e;
  color: #9e9e9e;
  transform: scale(0.8);
}
.player-controls .btn.end-btn.btn-on {
  filter: none;
  -webkit-filter: none;
  fill: #8fe9ff;
  color: #8fe9ff;
}
.player-controls .btn.end-btn.btn-on.repeat-song {
  fill: #5873fe;
  color: #5873fe;
  position: relative;
  z-index: 1;
}
.music-container:not(.fade-player) .player-controls .btn:hover {
  cursor: pointer;
  filter: brightness(1.5);
  -webkit-filter: brightness(1.5);
}
.player-main .progress-container {
  position: relative;
  color: #413e3e;
  background-color: #413e3e;
  width: 80%;
  height: 5px;
  border-radius: 5px;
}
.player-main .progress-container .progress-bar {
  position: absolute;
  left: 0;
  top: 0;
  color: #c3cdfe;
  background-color: #c3cdfe;
  width: 0%;
  height: 100%;
  border-radius: 5px;
}
.player-main .progress-container .progress-loaded-bar {
  position: absolute;
  left: 0;
  top: 0;
  color: #585656;
  background-color: #585656;
  height: 100%;
  border-radius: 5px;
  width: var(--music-player-loaded-width);
}
.player-song-info {
  font-size: calc(1vh + 1vh);
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.player-song-info .song-cover {
  position: relative;
  width: fit-content;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.player-song-info .song-cover img {
  width: auto;
  height: 75%;
}
.player-song-info .song-info {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  mask-image: linear-gradient(90deg, #000 90%, transparent);
  -webkit-mask-image: linear-gradient(90deg, #000 90%, transparent);
}
.song-artist {
  text-overflow: clip;
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
}
.song-title {
  white-space: nowrap;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
}
.player-extras {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.player-extras .btn {
  width: auto;
  height: 50%;
  color: #d9d9d9;
}

.audio-visual {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
}
.visualLine {
  /*background-color: #ff00c8;*/
  background-color: transparent;
  height: 50%;
  max-height: 30px;
  width: 5%;
  max-width: 5px;
  position: relative;
  transform-origin: bottom;
}
.line-1 {
  animation: infinite playing 1s ease-in-out;
  animation-delay: 0.2s;
}
.line-2 {
  animation: infinite playing 1s ease-in-out;
  animation-delay: 0.5s;
}
.line-3 {
  animation: infinite playing 1s ease-in-out;
  animation-delay: 0.6s;
}
.line-4 {
  animation: infinite playing 1s ease-in-out;
  animation-delay: 0s;
}
.line-5 {
  animation: infinite playing 1s ease-in-out;
  animation-delay: 0.4s;
}
@keyframes playing {
  0% {
    transform: scaleY(0.1);
  }
  33% {
    transform: scaleY(0.6);
  }
  66% {
    transform: scaleY(0.9);
  }
  100% {
    transform: scaleY(0.1);
  }
}

/* ===== Gradients ===== */
.kaitlyn-gradient {
  background: rgb(4,0,249);
  background: -moz-linear-gradient(90deg, rgba(4,0,249,1) 0%, rgba(113,0,254,1) 35%, rgba(221,0,254,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(4,0,249,1) 0%, rgba(113,0,254,1) 35%, rgba(221,0,254,1) 100%);
  background: linear-gradient(90deg, rgba(4,0,249,1) 0%, rgba(113,0,254,1) 35%, rgba(221,0,254,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0400f9",endColorstr="#dd00fe",GradientType=1);
}

/* ===== Loaders ===== */
.loading {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  transition: all 0.5s ease-in-out;
}
.loader svg {
  width: 3.25em;
  transform-origin: center;
  animation: rotate 1.25s linear infinite;
}
.loader circle {
  fill: none;
  stroke: hsl(0, 0%, 100%);
  stroke-width: 3;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash 1.69s ease-in-out infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 5, 200;
    stroke-dashoffset: 5px;
  }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 5, 200;
    stroke-dashoffset: -124px;
  }
}

.card.skeleton-loader {
  background: linear-gradient(270deg, #e2e2e2 0%, #e2e2e2 25%,#787878 45%, #616161 50%, #787878 55%, #e2e2e2 80%, #e2e2e2 100%);
  background-size: 1400% 1400%;
  animation: AnimationName 1.5s ease infinite;
  width: 20vw;
  height: 20vw;
  max-width: var(--cover-card-max-size);
  max-height: var(--cover-card-max-size);
}
@keyframes AnimationName {
    0%{background-position:92% 0%}
    100%{background-position:9% 100%}
}

/* ===== Notifications ===== */
.notification {
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  bottom: 2.5vh;
  left: -20rem;
  width: 18rem;
  height: 8rem;
  background: #29292c;
  background-color: rgba(41, 41, 44, 0.9);
  border-radius: 1rem;
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  --gradient: linear-gradient(to bottom, #ff2eee, #ff3de5, #ff61fa);
  --color: #ff3396;
  transition: all 1s ease-in-out;
  text-align: left;
}
.notification:before {
  position: absolute;
  content: "";
  inset: 0.0625rem;
  border-radius: 0.9375rem;
  background: #29292c;
  background-color: rgba(41, 41, 44, 0.9);
  z-index: 2;
}
.notification:after {
  position: absolute;
  content: "";
  width: 0.25rem;
  inset: 0.65rem auto 0.65rem 0.5rem;
  border-radius: 0.125rem;
  background: var(--gradient);
  transition: transform 300ms ease;
  z-index: 4;
}
.notification:hover:after {
  transform: translateX(0.15rem);
}
.notititle {
  color: var(--color);
  padding: 0.65rem 0.25rem 0.4rem 1.25rem;
  font-weight: 500;
  font-size: 1.1rem;
  transition: transform 300ms ease;
  z-index: 5;
  text-align: left;
}
.notification:hover .notititle {
  transform: translateX(0.15rem);
}
.notibody {
  color: #99999d;
  padding: 0 1.25rem;
  transition: transform 300ms ease;
  z-index: 5;
  text-align: left;
}
.notification:hover .notibody {
  transform: translateX(0.25rem);
}
.notiglow,
.notiborderglow {
  position: absolute;
  width: 20rem;
  height: 20rem;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle closest-side at center, white, transparent);
  opacity: 0;
  transition: opacity 300ms ease;
}
.notiglow {
  z-index: 3;
}
.notiborderglow {
  z-index: 1;
}
.notification:hover .notiglow {
  opacity: 0.1;
}
.notification:hover .notiborderglow {
  opacity: 0.1;
}
.note {
  color: var(--color);
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 0.9rem;
  width: 75%;
}

.noti-button {
  width: calc(3.5vw + 3.5vh);
  height: calc(3.5vw + 3.5vh);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d547a;
  border-radius: 50%;
  cursor: pointer;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
  border: none;
  margin: 0 1vw;
}
.noti-button path {
  fill: white;
}
.notification-alert {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: calc(3.5vw + 3.5vh);
  height: calc(3.5vw + 3.5vh);
  border-radius: 50%;
  background-color: red;
  color: white;
  transform: scale(0.4);
  translate: 35% -35%;
  font-weight: 600;
  font-size: calc(2vw + 2vh);
  transition: all 0.5s ease;
}
.bell {
  width: calc(1.5vw + 1.5vh);
}
.user {
  width: calc(1.5vw + 1.5vh);
}
.bell path {
  fill: white;
}
.noti-button:hover {
  background-color: #36407d;
}
.noti-button:hover .bell {
  animation: bellRing 0.9s both;
}
.noti-button:hover .user {
  animation: userBounce 0.9s both;
}
@keyframes bellRing {
  0%,
  100% {
    transform-origin: top;
  }

  15% {
    transform: rotateZ(10deg);
  }

  30% {
    transform: rotateZ(-10deg);
  }

  45% {
    transform: rotateZ(5deg);
  }

  60% {
    transform: rotateZ(-5deg);
  }

  75% {
    transform: rotateZ(2deg);
  }
}
@keyframes userBounce {
  0%,
  100% {
    transform-origin: top;
  }

  15% {
    transform: translateY(15%);
  }

  30% {
    transform: translateY(-15%);
  }

  45% {
    transform: translateY(7%);
  }

  60% {
    transform: translateY(-7%);
  }

  75% {
    transform: translateY(2%);
  }
}

.noti-item {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  margin: 0 5%;
  height: fit-content;
  min-height: 6rem;
  padding: 3rem 0;
  overflow-x: clip;
  overflow-y: auto;
  border: 3px solid #e0e0e0;
  border-top: 1px solid #bababa;
  border-bottom: 1px solid #bababa;
  transition: all 0.3s ease;
}
.noti-item:hover {
  filter: brightness(1.05);
  -webkit-filter: brightness(1.05);
}
.noti-item.notiPreview {
  overflow: clip;
  height: fit-content;
  min-height: 1rem;
  padding: 1rem 0;
}
.noti-item:nth-child(1) {
  border-top-left-radius: var(--noti-border-radius);
  border-top-right-radius: var(--noti-border-radius);
  border: 3px solid #e0e0e0;
  border-top: 3px solid #e0e0e0;
  border-bottom: 1px solid #bababa;
}
.noti-item:last-child {
  border-bottom-left-radius: var(--noti-border-radius);
  border-bottom-right-radius: var(--noti-border-radius);
  border: 3px solid #e0e0e0;
  border-top: 1px solid #bababa;
  border-bottom: 3px solid #e0e0e0;
}
.newNoti {
  background-color: #f5f5f5;
}
.readNoti {
  background-color: #a8a8a8;
}
.noti-item-title {
  margin: 0;
  padding: 0;
  width: 30%;
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
  white-space: nowrap;
}
.notiInfo {
  font-size: 1rem;
  font-weight: 400;
  color: black;
  width: 60%;
}
.noti-item-title, .notiInfo {
  transition: all 0.5s ease;
  text-align: left;
  padding-left: 2%;
  text-overflow: ellipsis;
}
.noti-item.notiPreview .noti-item-title {
  font-size: calc(1vw + 1vh);
  width: 50%;
}
.noti-item.notiPreview .notiInfo {
  font-size: calc(0.5vw + 0.5vh);
  white-space: nowrap;
  width: 25%;
}
.new-noti-circle {
  width: calc((1vw + 1vh) - 10px);
  min-width: 5px;
  max-width: 15px;
  height: calc((1vw + 1vh) - 10px);
  min-height: 5px;
  max-height: 15px;
  border-radius: 50%;
  color: blue;
  background-color: blue;
  overflow: clip;
  margin-left: 10px;
}


/* ===== Extras ===== */
.slider {
  appearance: none;
  -webkit-appearance: none;
  width: 50%;
  height: 15px;
  background: #000;
  outline: none;
  border: 5px solid #2a87c0;
  border-radius: 8px;
  transition: border 0.25s ease, border-radius 0.5s ease, box-shadow 0.75s ease;
}
.slider:active {
  border: 5px solid #154a6a;
  border-radius: 12px;
  box-shadow: 0px 0px 2px 1px #2a87c0;
}
/* for chrome/safari */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  background: #000;
  cursor: pointer;
  border: 3px solid #009dff;
  border-radius: 15px;
  transition: border 0.25s ease, border-radius 0.5s ease, box-shadow 0.75s ease;
}
.slider::-webkit-slider-thumb:active {
  border: 3px solid #0679c1;
  box-shadow: 0px 0px 2px 1px #236c9a;
  border-radius: 50%;
}
/* for firefox */
.slider::-moz-range-thumb {
  width: 35px;
  height: 35px;
  background: #000;
  cursor: pointer;
  border: 5px solid #009dff;
  border-radius: 50%;
}